*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .containerOverlay {
    
    width: 50%;
    float: left;
    padding: 12px;
  }
  
  .containerImg {
    border-radius: 10px;
    position: relative;
    width: 100%;
    margin-top: px;
  }
  
  .containerImg a {
    color: #fff;
  }
  
  img.image {border-radius: 5px;
    display: block;
    width: 100%;
    height: 370px;
    object-fit: cover;
  }
  
  .overlay {
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: rgba(75, 75, 75, 0.432);
    overflow: hidden;
    width: 50%;
    height: 100%;
    transition: .5s ease;
  }
  
  .containerImg:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .overlay:hover{
    border-radius: 5px;
    background-color: rgba(216, 74, 74, 0.651);
  }
  
  .text {
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 155px;
    text-shadow: .1px .1px .1px #262626;
  }
  
  /*querys*/
  
  @media (max-width: 992px){
      /*.overlay {
      left: 0;
      width: 100%;
    }*/
  
    img.image {
      height: 235px;
    }
  }
  
  @media (max-width: 620px){
    .containerOverlay{
      width: 100%;
    }
    
  }